node red.json
[{"id":"610c418f.a078e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9c5b62b2.e8c48","type":"ui_tab","z":"","name":"alfdklwf","icon":"dashboard","disabled":false,"hidden":false},{"id":"3ec8f122.75e0ee","type":"ui_group","z":"","name":"Classification","tab":"9c5b62b2.e8c48","disp":true,"width":"6","collapse":false},{"id":"ecc93e5e.62bd9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26acaebf.7ee1d2","type":"ui_form","z":"610c418f.a078e","name":"","label":"regression","group":"3ec8f122.75e0ee","order":0,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true},{"label":"job","value":"job","type":"number","required":true},{"label":"marital","value":"marital","type":"number","required":true},{"label":"education","value":"education","type":"number","required":true},{"label":"loan","value":"loan","type":"number","required":true},{"label":"contact","value":"contact","type":"number","required":true},{"label":"month","value":"month","type":"number","required":true},{"label":"duration","value":"duration","type":"number","required":true},{"label":"campaign","value":"campaign","type":"number","required":true},{"label":"pdays","value":"pdays","type":"number","required":true},{"label":"previous1","value":"previous1","type":"number","required":true},{"label":"poutcome","value":"poutcome","type":"number","required":true},{"label":"default1","value":"default1","type":"number","required":true}],"formValue":{"age":"","job":"","marital":"","education":"","loan":"","contact":"","month":"","duration":"","campaign":"","pdays":"","previous1":"","poutcome":"","default1":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":198.10000610351562,"y":138.1999969482422,"wires":[["a744cb3e.b36f48","cfb52628.266148"]]},{"id":"a744cb3e.b36f48","type":"debug","z":"610c418f.a078e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390.50000381469727,"y":20,"wires":[]},{"id":"cfb52628.266148","type":"function","z":"610c418f.a078e","name":"token generation","func":"global.set(\"age\",msg.payload.age)\nglobal.set(\"job\",msg.payload.job)\nglobal.set(\"education\",msg.payload.education)\nglobal.set(\"marital\",msg.payload.marital)\nglobal.set(\"default1\",msg.payload.default1)\nglobal.set(\"loan\",msg.payload.loan)\nglobal.set(\"contact\",msg.payload.contact)\nglobal.set(\"month\",msg.payload.month)\nglobal.set(\"duration\",msg.payload.duration)\nglobal.set(\"previous1\",msg.payload.previous1)\nglobal.set(\"poutcome\",msg.payload.poutcome)\nglobal.set(\"campaign\",msg.payload.campaign)\nglobal.set(\"pdays\",msg.payload.pdays)\nreturn msg;","outputs":1,"noerr":0,"x":449.10001373291016,"y":292.0000457763672,"wires":[["ef3139de.7d7298"]]},{"id":"ef3139de.7d7298","type":"http request","z":"610c418f.a078e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":574.5000305175781,"y":708.0000305175781,"wires":[["6b103cb1.2fb474","eeedcf84.2a308"]]},{"id":"6b103cb1.2fb474","type":"function","z":"610c418f.a078e","name":"prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\")\nvar job=global.get(\"job\")\nvar default1=global.get(\"default1\")\nvar education=global.get(\"education\")\nvar marital=global.get(\"marital\")\nvar loan=global.get(\"loan\")\nvar contact=global.get(\"contact\")\nvar month=global.get(\"month\")\nvar duration=global.get(\"duration\")\nvar campaign=global.get(\"campaign\")\nvar pdays=global.get(\"pdays\")\nvar previous1=global.get(\"previous1\")\nvar poutcome=global.get(\"poutcome\")\nmsg.payload={\"fields\":[\"age\",\"job\",\"marital\",\"education\",\"default1\",\"loan\",\"contact\",\"month\",\"duration\",\"campaign\",\"pdays\",\"previous1\",\"poutcome\"],\"values\":[[age,job,marital,education,default1,loan,contact,month,duration,campaign,pdays,previous1,poutcome]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;\n\n\n//age  job   marital education default  loan    contact   month  duration    campaign    pdays   previous poutcome","outputs":1,"noerr":0,"x":785.5000381469727,"y":714.0000324249268,"wires":[["9da6b9cf.6b37c8"]]},{"id":"eeedcf84.2a308","type":"debug","z":"610c418f.a078e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":768.1000823974609,"y":447.0000476837158,"wires":[]},{"id":"9da6b9cf.6b37c8","type":"http request","z":"610c418f.a078e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/8b476fa4-1605-44f5-b136-cca87633f5e5/deployments/26a92db9-0a96-44dc-96c1-427137aa4882/online","tls":"","proxy":"","authType":"basic","x":898.5000114440918,"y":567.0000019073486,"wires":[["68f0b44b.4e233c","26b7229b.abb97e"]]},{"id":"68f0b44b.4e233c","type":"debug","z":"610c418f.a078e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1082.2999877929688,"y":456,"wires":[]},{"id":"26b7229b.abb97e","type":"function","z":"610c418f.a078e","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1078.7000122070312,"y":667.3999938964844,"wires":[["9a0f9136.15d77","ab2bcf30.775f5"]]},{"id":"9a0f9136.15d77","type":"debug","z":"610c418f.a078e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1231.7000122070312,"y":583.6000061035156,"wires":[]},{"id":"ab2bcf30.775f5","type":"ui_text","z":"610c418f.a078e","group":"3ec8f122.75e0ee","order":2,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":1263.300048828125,"y":762.6000061035156,"wires":[]}]